<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="static/js/query_analyzer.js?ver=0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
    </style>
    <title>addHost</title>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/query_analyzer" class="w3-bar-item w3-button w3-theme-l1">QueryAnalyzer</a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Go Dashboard</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="/addHost">검색서버 호스트 관리</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/addKeyword">검색어 관리</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/getResult">검색결과 추출</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/compareResult">검색결과 비교</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/admin">관리</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">검색서버 호스트 신규등록</h1>
      <div class="form-group">
        <label for="host">호스트:</label>
        <input type="text" class="form-control" id="host" placeholder="쿼리스트링을 제외한 호스트의 URL 을 등록해 주세요. 단, 반드시 https:// 로 시작해야 합니다. (ex. https://search.skt.com)">
      </div>
      <div class="form-group">
        <label for="hostInfo">호스트 설명:</label>
        <input type="text" class="form-control" id="hostInfo" placeholder="호스트에 대한 간략한 설명을 기입해주세요.">
      </div>

      <div id="encoding_type">
        <h6>인코딩:</h6>
        <input type="radio" name="encoding_type" checked="checked" value="utf-8" /> UTF-8
        <input type="radio" name="encoding_type" value="euc-kr"> EUC-KR
      </div>

      <div id="doc_type">
        <h6>문서형식:</h6>
        <input type="radio" name="doc_type" checked="checked" value="json" /> JSON
        <input type="radio" name="doc_type" value="xml"> XML
        <input type="radio" name="doc_type" value="html"> HTML
      </div>
      <div>
        <button class="btn-lg" type="button" id="hostSubmit" style="margin-left: 300px">호스트 등록</button>
      </div>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">검색서버 호스트 목록</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Encoding</th>
        <th>Doctype</th>
      </tr>
    </thead>
    <tbody>
    {% for host in hosts %}
    <tr>
      <td>{{ host["hostinfo"] }} ({{ host["hostname"] }})</td>
      <td>{{ host["encoding"] }}</td>
      <td>{{ host["doctype"] }}</td>
      <td><button class="btn-sm" type="button" id="{{ host['id'] }}" onclick="delHost(this.id)">delete</button></td>
    </tr>
    {% end %}
    </tbody>
  </table>
    </div>
  </div>
<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>