<script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<nav class="navbar navbar-default">
	<div class=container-fluid>
		<div class=navbar-header>
			<a href="/" class=navbar-brand>Search Manager v0.0.1</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav" id="nav-ul">
				<li id="nav-search" class="nav-item">
					<a href=/music_search?q=%EC%86%8C%EB%85%80%EC%8B%9C%EB%8C%80>Music</a>
				</li>
				<li class="dropdown" id="nav-wiki">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/wiki_search?q=wiki%20%EC%86%8C%EB%85%80%EC%8B%9C%EB%8C%80">검색</a></li>
						<li><a href="/wiki_admin">긴급 문서 추가</a></li>
						<li><a href="/wiki_admin_tags">위키 문서 관리</a></li>
					</ul>
				</li>

				<li id="nav-chitchat" class="nav-item">
					<a href=/chitchat_search>감성대화</a>
				</li>
				<li id="nav-phonebook" class="nav-item">
					<a href=/phonebook_search>Tmap전화</a>
				</li>
				<li id="nav-btv" class="nav-item">
					<a href=/btv_search>B티~브이</a>
				</li>

				<li id="nav-t114" class="nav-item">
					<a href=http://113.217.254.188:8080/t114?q=18990000>T114</a>
				</li>
				<!--li id="nav-proxy" class="nav-item">
					<a href=/proxy_view>PROXY</a>
				</li-->
				<li id="nav-melon" class="nav-item">
					<a href=/melon_search>Melon</a>
				</li>
				<li id="nav-analyzer" class="nav-item">
					<a href=/analyzer>Analyzer</a>
				</li>
				<li id="nav-nlu" class="nav-item">
					<a href=/nlu>NLU</a>
				</li>
				<li id="nav-sms" class="nav-item">
					<a href=/sms>SMS</a>
				</li>

				<li id="nav-news" class="nav-item">
					<a href=/news_search?q=%EC`%86%8C%EB%85%80%EC%8B%9C%EB%8C%80>News(중단)</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
<br><br>
